<li>
  <div class=<%="ride#{ride.id}"%>>
  <ul>
    <li>From: <%= content_tag(:a, ride.user.name, href: user_path(ride.user)) %></li>
  	<li>To: <%= ride.service.church.name %></li>
  	<li>Date: <%= ride.date %>
	  <li><%= link_to 'Ride details', ride %></li>
  </ul>
  </div>
</li>